/* Colour Palette

    background-color: #b84030;
    background-color: #3d1f10;
    background-color: #516241;
    background-color: #b9a072;
    background-color: #b04507;
    background-color: #750119;

*/

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    padding: 1rem;
}

/* ********************    typography    ********************* */

h2 {
    font-size: 2rem;
    padding: 1.5rem 0;
}

h3 {
    font-size: 1.5rem;
}

/* ********************    main    ********************* */

.container section {
    margin-bottom: 1.5rem;
    color: #fff;
}

.container section:nth-of-type(even) {
    background-color: #3d1f10;
}

.container section:nth-of-type(odd) {
    background-color: #b04507;
}

section a {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

section a:hover {
    background-color: rgba(0,0,0,0.6);
}

section div {
    padding: 0.5rem;
}

@media screen and (min-width: 540px) {
    .container section {
        display: flex;
        align-items: center;
    }

    section img,
    section div {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-flow: wrap;
        gap: 2%;
    }

    .container section {
        width: calc(98%/2);
    }

    h2 {
        width: 100%;
    }

    .container section:first-of-type {
        order: 1;
    }

    .container section:nth-of-type(2) {
        order: 2;
    }

    .container section:nth-of-type(3) {
        order: 4;
    }

    .container section:nth-of-type(4) {
        order: 3;
    }

    .container section:nth-of-type(5),
    .container section:last-of-type {
        order: 5;
    }
}

@media screen and (min-width: 1850px) {
    .container {
        max-width: 112.5rem;
        margin: 0 auto;
    }
}
